@import '../../vars.scss';

.qvapp-programsList {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  background: #DDD;
  box-shadow: inset 0 0 120px rgba(0,0,0,.1);
  margin-bottom: 50px;
  .qvapp-programTeaser {
    height: calc(100vw * (390/700) / 4);
  }
}
.qvapp-seemoreButton {
  position: relative;
  margin-top: -130px;
  margin-bottom: 50px;
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,.6);
  > span {
    position: absolute;
    background: $bleu-clair;
    color: #FFF;
    cursor: pointer;
    border-radius: 30px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 22px);
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 22px;
    line-height: 44px;
  }
}