.qvapp-channelLogo {
	display: block;
	width: 98px;
	height: 72px;
	background-image: url("../../Assets/Images/chaines.png");
	background-repeat: no-repeat;
	background-size: 1100% 1400%;
}

.bg-6ter { background-position: (1*100%/10) -0; }
.bg-13emerue { background-position: (4*100%/10) (9*100%/13); }
.bg-ab1 { background-position: -0 (1*100%/13); }
.bg-ab3 { background-position: (1*100%/10) (1*100%/13); }
.bg-abxplore { background-position: (2*100%/10) -0; }
.bg-abmoteurs { background-position: (2*100%/10) (1*100%/13); }
.bg-action { background-position: -0 (2*100%/13); }
.bg-aljazeerauk { background-position: (1*100%/10) (2*100%/13); }
.bg-animaux { background-position: (2*100%/10) (2*100%/13); }
.bg-arte { background-position: -0 (3*100%/13); }
.bg-bbcentertainment { background-position: (1*100%/10) (3*100%/13); }
.bg-bbc1 { background-position: (2*100%/10) (3*100%/13); }
.bg-bbc2 { background-position: (3*100%/10) -0; }
.bg-be1 { background-position: (3*100%/10) (1*100%/13); }
.bg-becine { background-position: (3*100%/10) (2*100%/13); }
.bg-beinsports1 { background-position: (3*100%/10) (3*100%/13); }
.bg-beinsports2 { background-position: -0 (4*100%/13); }
.bg-beinsports3 { background-position: (1*100%/10) (4*100%/13); }
.bg-beseries { background-position: (2*100%/10) (4*100%/13); }
.bg-bfmbusiness { background-position: (3*100%/10) (4*100%/13); }
.bg-bfmtv { background-position: (4*100%/10) -0; }
.bg-boing { background-position: (4*100%/10) (1*100%/13); }
.bg-boomerang { background-position: (4*100%/10) (2*100%/13); }
.bg-c8 { background-position: (4*100%/10) (3*100%/13); }
.bg-canalj { background-position: (4*100%/10) (4*100%/13); }
.bg-canalplus { background-position: -0 (5*100%/13); }
.bg-canalpluscinema { background-position: (1*100%/10) (5*100%/13); }
.bg-canalplusdecale { background-position: (2*100%/10) (5*100%/13); }
.bg-canalplusfamily { background-position: (3*100%/10) (5*100%/13); }
.bg-canalplusseries { background-position: (4*100%/10) (5*100%/13); }
.bg-canalplussport { background-position: (5*100%/10) -0; }
.bg-canalz { background-position: (5*100%/10) (1*100%/13); }
.bg-canvas { background-position: (5*100%/10) (2*100%/13); }
.bg-cartoonnetwork { background-position: (5*100%/10) (3*100%/13); }
.bg-chasseetpeche { background-position: (5*100%/10) (4*100%/13); }
.bg-cherie25 { background-position: (5*100%/10) (5*100%/13); }
.bg-cinefx { background-position: -0 (6*100%/13); }
.bg-cineplusclassic { background-position: (1*100%/10) (6*100%/13); }
.bg-cineplusclub { background-position: (2*100%/10) (6*100%/13); }
.bg-cineplusemotion { background-position: (3*100%/10) (6*100%/13); }
.bg-cineplusfamiz { background-position: (4*100%/10) (6*100%/13); }
.bg-cineplusfrisson { background-position: (5*100%/10) (6*100%/13); }
.bg-cinepluspremier { background-position: -0 (7*100%/13); }
.bg-clubrtl { background-position: (1*100%/10) (7*100%/13); }
.bg-cnews { background-position: (2*100%/10) (7*100%/13); }
.bg-cnninternational { background-position: (3*100%/10) (7*100%/13); }
.bg-comedieplus { background-position: (4*100%/10) (7*100%/13); }
.bg-cstar { background-position: (5*100%/10) (7*100%/13); }
.bg-discoverychannel { background-position: (6*100%/10) -0; }
.bg-discoveryscience { background-position: (6*100%/10) (1*100%/13); }
.bg-disneychannel { background-position: (6*100%/10) (2*100%/13); }
.bg-disneycinema { background-position: (6*100%/10) (3*100%/13); }
.bg-disneyjunior { background-position: (6*100%/10) (4*100%/13); }
.bg-disneyxd { background-position: (6*100%/10) (5*100%/13); }
.bg-dorceltv { background-position: (6*100%/10) (6*100%/13); }
.bg-e { background-position: (6*100%/10) (7*100%/13); }
.bg-ellegirl { background-position: -0 (8*100%/13); }
.bg-equidialife { background-position: (1*100%/10) (8*100%/13); }
.bg-equidialive { background-position: (2*100%/10) (8*100%/13); }
.bg-euronews { background-position: (3*100%/10) (8*100%/13); }
.bg-euronewsint { background-position: (3*100%/10) (8*100%/13); }
.bg-eurosport { background-position: (4*100%/10) (8*100%/13); }
.bg-eurosport2 { background-position: (5*100%/10) (8*100%/13); }
.bg-france2 { background-position: (6*100%/10) (8*100%/13); }
.bg-france3 { background-position: (7*100%/10) -0; }
.bg-france4 { background-position: (7*100%/10) (1*100%/13); }
.bg-france5 { background-position: (7*100%/10) (2*100%/13); }
.bg-france24 { background-position: (7*100%/10) (3*100%/13); }
.bg-franceinfo { background-position: (7*100%/10) (4*100%/13); }
.bg-franceo { background-position: (7*100%/10) (5*100%/13); }
.bg-gameone { background-position: (7*100%/10) (6*100%/13); }
.bg-girondinstv { background-position: (7*100%/10) (7*100%/13); }
.bg-gulli { background-position: (7*100%/10) (8*100%/13); }
.bg-hd1 { background-position: -0 (9*100%/13); }
.bg-histoire { background-position: (1*100%/10) (9*100%/13); }
.bg-idf1 { background-position: (2*100%/10) (9*100%/13); }
.bg-infosport { background-position: (3*100%/10) (9*100%/13); }
.bg-jone { background-position: -0 -0; }
.bg-kto { background-position: (5*100%/10) (9*100%/13); }
.bg-lachaineparlementaire { background-position: (6*100%/10) (9*100%/13); }
.bg-ladeux { background-position: (7*100%/10) (9*100%/13); }
.bg-latrois { background-position: (8*100%/10) -0; }
.bg-laune { background-position: (8*100%/10) (1*100%/13); }
.bg-lci { background-position: (8*100%/10) (2*100%/13); }
.bg-lequipe { background-position: (8*100%/10) (3*100%/13); }
.bg-m6 { background-position: (8*100%/10) (4*100%/13); }
.bg-m6boutiqueetco { background-position: (8*100%/10) (5*100%/13); }
.bg-m6music { background-position: (8*100%/10) (6*100%/13); }
.bg-mangas { background-position: (8*100%/10) (7*100%/13); }
.bg-mcm { background-position: (8*100%/10) (8*100%/13); }
.bg-mcmtop { background-position: (8*100%/10) (9*100%/13); }
.bg-melody { background-position: -0 (10*100%/13); }
.bg-mezzo { background-position: (1*100%/10) (10*100%/13); }
.bg-mezzolivehd { background-position: (2*100%/10) (10*100%/13); }
.bg-motorsporttv { background-position: (3*100%/10) (10*100%/13); }
.bg-mtv { background-position: (4*100%/10) (10*100%/13); }
.bg-nationalgeographicwild { background-position: (5*100%/10) (10*100%/13); }
.bg-nationalgeographicchannel { background-position: (6*100%/10) (10*100%/13); }
.bg-nickelodeon { background-position: (7*100%/10) (10*100%/13); }
.bg-nickelodeonjunior { background-position: (8*100%/10) (10*100%/13); }
.bg-nickelodeonteen { background-position: -0 (11*100%/13); }
.bg-nolife { background-position: (1*100%/10) (11*100%/13); }
.bg-nonstoppeoplehd { background-position: (2*100%/10) (11*100%/13); }
.bg-nrj12 { background-position: (3*100%/10) (11*100%/13); }
.bg-nrjhits { background-position: (4*100%/10) (11*100%/13); }
.bg-nt1 { background-position: (5*100%/10) (11*100%/13); }
.bg-numero23 { background-position: (6*100%/10) (11*100%/13); }
.bg-ocschoc { background-position: (7*100%/10) (11*100%/13); }
.bg-ocscity { background-position: (8*100%/10) (11*100%/13); }
.bg-ocsgeants { background-position: (9*100%/10) -0; }
.bg-ocsmax { background-position: (9*100%/10) (1*100%/13); }
.bg-oltv { background-position: (9*100%/10) (2*100%/13); }
.bg-omtv { background-position: (9*100%/10) (3*100%/13); }
.bg-onzoao { background-position: (9*100%/10) (4*100%/13); }
.bg-paramountchannel { background-position: (9*100%/10) (5*100%/13); }
.bg-parispremiere { background-position: (9*100%/10) (6*100%/13); }
.bg-pinktv { background-position: (9*100%/10) (7*100%/13); }
.bg-piwiplus { background-position: (9*100%/10) (8*100%/13); }
.bg-planeteplus { background-position: (9*100%/10) (9*100%/13); }
.bg-planeteplusae { background-position: (9*100%/10) (10*100%/13); }
.bg-planeteplusci { background-position: (9*100%/10) (11*100%/13); }
.bg-plugrtl { background-position: -0 (12*100%/13); }
.bg-polar { background-position: (1*100%/10) (12*100%/13); }
.bg-raiuno { background-position: (2*100%/10) (12*100%/13); }
.bg-rfmtv { background-position: (3*100%/10) (12*100%/13); }
.bg-rmcdecouverte { background-position: (4*100%/10) (12*100%/13); }
.bg-rtl9 { background-position: (5*100%/10) (12*100%/13); }
.bg-rtltvi { background-position: (6*100%/10) (12*100%/13); }
.bg-rtsdeux { background-position: (7*100%/10) (12*100%/13); }
.bg-rtsun { background-position: (8*100%/10) (12*100%/13); }
.bg-scienceetvietv { background-position: (9*100%/10) (12*100%/13); }
.bg-seasonsplus { background-position: 100% -0; }
.bg-serieclub { background-position: 100% (1*100%/13); }
.bg-sfrsport1 { background-position: 100% (2*100%/13); }
.bg-sfrsport2 { background-position: 100% (3*100%/13); }
.bg-sfrsport3 { background-position: 100% (4*100%/13); }
.bg-syfy { background-position: 100% (5*100%/13); }
.bg-tcmcinema { background-position: 100% (6*100%/13); }
.bg-teletoonplus { background-position: 100% (7*100%/13); }
.bg-teva { background-position: 100% (8*100%/13); }
.bg-tf1 { background-position: 100% (9*100%/13); }
.bg-tiji { background-position: 100% (10*100%/13); }
.bg-tmc { background-position: 100% (11*100%/13); }
.bg-toutelhistoire { background-position: 100% (12*100%/13); }
.bg-traceurban { background-position: -0 100%; }
.bg-trek { background-position: (1*100%/10) 100%; }
.bg-tv5mondefbs { background-position: (2*100%/10) 100%; }
.bg-tvbreizh { background-position: (3*100%/10) 100%; }
.bg-ushuaiatv { background-position: (4*100%/10) 100%; }
.bg-vivolta { background-position: (5*100%/10) 100%; }
.bg-voyage { background-position: (6*100%/10) 100%; }
.bg-vtm { background-position: (7*100%/10) 100%; }
.bg-w9 { background-position: (8*100%/10) 100%; }
.bg-xxl { background-position: (9*100%/10) 100%; }

