.qvapp-programTeaser {
  position: relative;
  background: #eee url(../../Assets/Images/placeholder.png) center center no-repeat;
  background-size: 30% auto;
  > img {
    width: 100%;
  }
  span.title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background: rgba(0,0,0,.4);
    color: #FFF;
    text-align: left;
    padding: 0 50px 0 10px;
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
  }
  span.time {
    position: absolute;
    bottom: 6px;
    left: 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
  }
  
  .qvapp-channelLogo {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #FFF;
    width: 49px;
    height: 36px;
  }
}