.qvapp-btn {
  border: 0;
  cursor: pointer;
  header & {
    margin: -5px 5px 0;
    width: 50px;
    height: 50px;
    background: url('../../../Assets/Images/sprite_icons.jpg') no-repeat;
    background-size: 100% 400%;
    background-repeat: no-repeat;
    &.qvapp-burger{
      background-position: 0 0;
      float: left;
    }
    &.qvapp-favorites{
      background-position: 0 100%;
      float: right;
    }
    &.qvapp-search{
      background-position: 0 33.3334%;
      float: right;
    }
  }
}