
.qvapp-filtersList {
  text-align: center;
  > div {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 5px 25px;
    padding: 0 5px;
    & + div {
      &:before {
        content: '|';
        position: absolute;
        top: 5px;
        left: -6px;
      }
    }
  }
}