@import '../../../vars.scss';

.qvapp-filter {
  display: inline-block;
  color: $bleu_fonce;
  padding: 6px 12px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    border-color: currentColor;
    outline: none;
  }
  &.active {
    color: #FFF;
    background: $bleu_fonce;
    border-color: $bleu_fonce;
  }
}