@import '../../../vars.scss';

.qvapp-packagesList {
  display: inline-block;
  color: $bleu_fonce;
  padding: 5px 12px;
  margin: 0 8px;
  border: 1px solid #ddd;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 16px;
  letter-spacing: 1px;
  background: #FFF;
  cursor: pointer;
  &:hover, &:focus {
    border-color: currentColor;
    outline: none;
  }
}