@import '../../vars.scss';

.qvapp-programCard {
  
    font-size: 16px;
    .bg-image {
      position: absolute;
      z-index: 1;
      opacity: 1;
      overflow: hidden;
      text-align: right;
      height: 600px;
      width: 100%;
      background: #000;
      img {
        position: absolute;
        top: 0;
        left: 50%;
        min-width: 100%;
        transform: translate(-50%,0) scale(1.05);
        filter: brightness(0.5) grayscale(40%);
        border-left: 30vw solid;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 38vw;
        height: 100%;
        background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,0) 100%);
        z-index: 1;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.2);
        box-shadow: inset 0 0 80px 10px #000;
      }
    }

    .title-block {
      margin-bottom: 15px;
    }
  
    .csa {
      position: relative;
      display: inline-block;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      color: #000;
      margin-right: 6px;
      font-weight: 400;
      font-family: Impact;
      font-size: 20px;
      width: 30px;
      height: 30px;
      letter-spacing: 1px;
      line-height: 30px;
      text-align: center;
      text-indent: 1px;
      margin-left: 6px;
      transform: translate(0, -5px);
      &:before {
        content:"";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 16%;
        height: 4px;
        background: #444;
      }
    }
  
    .qvapp-programCard-informations {
      display: grid;
      position: relative;
      margin-bottom: 30px;
      color: #FFF;
      grid-template-columns: 4fr 6fr;
      align-items: center;
      justify-content: center;
      height: 600px;
    }
  
  
    .main-image {
      position: relative;
      z-index: 2;
      margin: 0 40px;
      img {
        border: 3px solid #FFF;
        width: 100%;
      }
      video {
        transition: all .3s ease-out;
        transform: translate(-50%, -50%);
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 160px;
        height: 130px;
        background: #000;
      }
      &.video-played {
        video {
          opacity: 1;
          width: calc(100% - 6px);
          height: calc(100% - 6px);
        }
      }
    }
    
    .main-infos {
      z-index: 2;
      color: #FFF;
      .infos{
        margin-bottom: 12px;
        width: 75%;
        > span {
          color: #ccc;
        }
        ul {
          display: inline;
          list-style-type: none;
          padding: 0 0 0 10px;
          li {
            display: inline;
            &:not(:first-child) {
              &:before {
                content: ", ";
              }
            }
          }
        }
      
      }
    }
  
    h1 {
      font-size: 36px;
      font-weight: 300;
      text-transform: uppercase;
      color: currentColor;
      margin: 0 0 12px;
      line-height: 1.2;
      letter-spacing: 2px;
    }
  
    .avis-title {
      font-weight: 600;
    }
  
    .rating {
      display: inline-block;
      vertical-align: middle;
      text-shadow: 0 0 1px rgba(0,0,0,0.9);
      margin-bottom: 20px;
      margin-right: 12px;
      svg {
        margin-right: 5px;
      }
    }
  
    .qvapp-channelLogo {
      display: inline-block;
      vertical-align: middle;
      width: 49px;
      height: 36px;
    }
  
    .program-tags {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 20px;
      .inedit {
        display: inline-block;
        color: #ccc;
        padding: 0 4px;
        margin: 0 6px;
        height: 20px;
        line-height: 20px;
        font-size: 9px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 1px solid currentColor;
      }
    }
  
    .episode {
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 6px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  
    .category-year {
      margin-bottom: 12px;
      position: absolute;
      bottom: 16px;
      right: 20px;
      margin: 0;
      font-size: 22px;
      span.sep {
        color: #999;
      }
    }
  
    .button {
      background: $bleu_clair;
      color: #FFF;
      padding: 2px 6px;
      text-transform: uppercase;
      margin: 0 10px;
      font-size: 12px;
      font-weight: bold;
      border-radius: 4px;
      transform: translate(0,-1px);
      white-space: nowrap;
    }
  
    .video-links {
      list-style-type: none;
      padding: 0;
      position: absolute;
      bottom: 0;
      left: 40px;
      >li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 16px 0 0;
           
        > a, > span {
          display: inline-block;
          position: relative;
          color: currentColor;
          font-size: 18px;
          text-decoration: underline;
          cursor: pointer;
          &.link-teaser {
            line-height: 37px;
            .wrap-icon {
              transition: color .3s linear;
              display: inline-block;
              vertical-align: middle;
              border: 1px solid currentColor;
              border-radius: 50%;
              width: 36px;
              height: 36px;
              line-height: 28px;
              margin-right: 6px;
              text-align: center;
  
            }
            &:hover {
              svg {
                color: $bleu-clair;
              }
            }
          }
          &.link-netflix {
            img {
              transform: translate(6px,0);
            }
          }
        }
      }
    }
  
    [id*='block-'] {
      margin: 0 0 30px;
    }
  
    #block-casting {
      .title {
        background: #cccccc;
        background: linear-gradient(to right, rgba(204,204,204,1) 0%,rgba(204,204,204,0.9) 32%,rgba(204,204,204,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: #444;
        text-transform: uppercase;
        text-indent: 10px;
        font-size: 12px;
        padding: 5px 0;
        margin: 0 0 12px;
      }
      font-size: 14px;
  
      .labels {
        font-size: 12px;
        font-weight: bold;
        color: $bleu_clair;
      }
  
      .name {
        color: #000;
        font-weight: bold;
      }
  
      .casting-section {
        &:not(:last-child) {
          margin: 0 0 12px;
        }
      }
    }
  
    #block-diffusions, #block-diffusions-episodes {
      .title-episode {
        background: #cccccc;
        background: linear-gradient(to right, rgba(204,204,204,1) 0%,rgba(204,204,204,0.9) 32%,rgba(204,204,204,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        padding: 0 !important;
        margin: 10px 0 0 !important;
        border-top: 1px solid #ccc;
        a {
          color: #444;
          text-transform: uppercase;
          font-size: 16px;
        }
        .col-xs-2 { padding: 0; }
      }
      .row {
        border-bottom: 1px solid #ccc;
        padding: 6px 0;
          margin: 0;
      }
      p {
        padding-top: 20px;
        margin: 0;
      }
    }
  
  }
  
  
  .program-tag {
    text-align: left;
    height: 66px;
    display: table-cell;
    vertical-align: middle;
    .button {
      margin-left: 0;
    }
    span {
      text-transform:uppercase;
      font-family: Arial, Helvetica, sans-serif;
      text-transform:bold;
      text-align:center;
      display: inline-block;
      background-color: white;
      color: black;
      padding: 0 3px;
      vertical-align: bottom;
      font-size: 12px;
      height: 20px;
      line-height: 22px;
      margin: 6px 0 4px 0;
      border: 1px solid #000;
  
      &.pastille {
        border-radius: 50%;
        width: 20px;
        line-height: 20px;
        padding: 0;
        &.hd {
          font-size: 10px;
          font-style: italic;
        }
        &.csa {
          font-size: 13px;
          width: 20px;
          height: 20px;
          letter-spacing: 1px;
          line-height: 18px;
          text-indent: 1px;
          transform: none;
          border: 1px solid #000;
          margin-left: 0; 
          margin-right: 0; 
          overflow: hidden;
          &:before {
            content:"";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 16%;
            height: 2px;
            background: #444;
          }
        }
      }
      &.ad {
        text-align: center;
        width: 27px;
        padding: 0;
        font-size: 16px !important;
        line-height: 24px;
        .icon-ad:before {
          top: -3px;
        }
      }
      &.stereo, &.mono, &.inedit, &.teletext {
        font-size: 9px !important;
      }
      &.dolby {
        width: 20px;
        padding: 0 2px 0 0;
        line-height: 20px;
        .icon-dolby:before {
          width: 100%;
          margin: 0;
        }
      }
      &.teletext {
        .icon-audition:before {
          font-size: 14px !important;
          top: 1px;
        }
      }
    }
    .button.replay {
      .icon-replay {
        vertical-align: middle;
      }
    }
    
  }