.qvapp-logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
}
.qvapp-header {
  background-color: #fff;
  padding: 20px;
  height: 120px;
  color: black;
  text-align: center;
}