@import '../../../vars.scss';

.qvapp-searchForm {
  position: relative;
  float: right;
  width: 100%;
  max-width: 320px;
  margin: 0 8px;
  input[type=text] {
    display: inline-block;
    color: $bleu_fonce;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #bbb;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #bbb;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #bbb;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #bbb;
    }
    &:hover, &:focus {
      border-color: currentColor;
      outline: none;
    }
    &.active {
      color: #FFF;
      background: currentColor;
      border-color: currentColor;
    }
  }
  button {
    position: absolute;
    top: 50%;
    right: 5px;
    padding: 0 8px;
    transform: translateY(-50%);
    height: calc(100% - 10px);
    border-radius: 50px;
    background: $bleu_clair;
    color: #FFF;
    font-family: Oswald;
    box-shadow: none;
    border: 0;
    cursor: pointer;
  }
}