.qvapp-insideTopTeaser {
  display: block;
  position: relative;
  height: 240px;
  background: #000;
  margin: 50px auto;
  max-width: 1200px;
  text-align: center;
  cursor: pointer;
  &:hover {
    > .text-layer .title {
      text-decoration: underline;
    }
  }
  > .text-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    color: #FFF;
    display: grid;
    grid-template-rows: auto 80px;
    align-items: center;
    .title {
      display: block;
      font-size: 40px;
      text-transform: uppercase;
    }
    .selection-redac {
      font-size: 20px;
      font-weight: 300;
      display: block;
      position: relative;
      &:before {
        display: block;
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80px;
        height: 1px;
        background: #FFF;
        z-index: 1;
        opacity: .5;
      }
      img {
        display: inline-block;
        height: 24px;
      }
    }
  }
  > .color-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 2;
  }
  > .wrapper-image {
    float: right;
    position: relative;
    height: 100%;
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      background: transparent;
      background: linear-gradient(90deg, rgba(0,0,0,1),  rgba(0,0,0,0));
      z-index: 1;
    }
    > img {
      filter: grayscale(100%) brightness(120%) contrast(110%);
      height: 100%;
      opacity: .6;
    }
  }
}