@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

body {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}